@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Paytone+One&display=swap');

#background{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    animation: animate-gradient 20s linear infinite;
  }


  
  @keyframes animate-gradient {
    0% {
      background: linear-gradient(to right, #005C97, #363795, #5B41A5, #7F3A98, #A73A64, #DD4C46, #FE9920, #FEC44F, #FBDE6C, #FCFDBF);
      background-size: 200% 200%;
      background-position: left;
    }
    50% {
      background: linear-gradient(to right, #005C97, #363795, #5B41A5, #7F3A98, #A73A64, #DD4C46, #FE9920, #FEC44F, #FBDE6C, #FCFDBF);
      background-size: 200% 200%;
      background-position: right;
    }
    100% {
      background: linear-gradient(to right, #005C97, #363795, #5B41A5, #7F3A98, #A73A64, #DD4C46, #FE9920, #FEC44F, #FBDE6C, #FCFDBF);
      background-size: 200% 200%;
      background-position: left;
    }
  }
  


  .box1 {
    width: 50%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255,0.16);
    margin-right: 5px;
    font-family:'Castoro Titling', cursive;
    font-family: 'Paytone One', sans-serif;
    color: aliceblue;
    font-size: 20px;
    padding: 1%;
  }

  .box2 {
    width: 50%;
    height: 80%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255,0.16);
    margin-left: 5px;
  }

  .container2 {
    position: relative;
    height: 100vh;
    display: flex;
    margin: 10px;
  }

  p{
    text-align: justify;
  }

  span{
    margin-left: 40px;
  }

  .container {
    position: relative;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.863);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h1 {
    font-size: 4em;
    text-align: center;
    color: #ffffff;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  h1:hover {
    transform: scale(1.1);
  }

 