@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Paytone+One&display=swap');

#svg-map path {
  fill: rgb(216, 240, 228)
}

#svg-map text {
  fill: #1f1c2b;
  font-family: 'Paytone One', sans-serif;
  cursor: pointer;
  font-size: 12px;
}

#svg-map a {
  text-decoration: none
}

#svg-map a:hover {
  cursor: pointer;
  text-decoration: none
}

#svg-map a:hover path {
  fill: #9086e7 !important
}

#svg-map .circle {
  fill: #a5abc2da
}

#svg-map a:hover .circle {
  fill: #8DE39B !important;
  cursor: pointer
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Castoro Titling', cursive;
    font-family: 'Paytone One', sans-serif;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 4%;
}


#background{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  animation: animate-gradient 60s linear infinite;
}

@keyframes animate-gradient {
  0% {
    background: linear-gradient(to right, #005C97, #363795, #5B41A5, #7F3A98, #A73A64, #DD4C46, #FE9920, #FEC44F, #FBDE6C, #FCFDBF);
    background-size: 200% 200%;
    background-position: left;
  }
  50% {
    background: linear-gradient(to right, #005C97, #363795, #5B41A5, #7F3A98, #A73A64, #DD4C46, #FE9920, #FEC44F, #FBDE6C, #FCFDBF);
    background-size: 200% 200%;
    background-position: right;
  }
  100% {
    background: linear-gradient(to right, #005C97, #363795, #5B41A5, #7F3A98, #A73A64, #DD4C46, #FE9920, #FEC44F, #FBDE6C, #FCFDBF);
    background-size: 200% 200%;
    background-position: left;
  }
}

nav {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo {
  width: 90px;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

nav .menu-icon {
  display: none;
  cursor: pointer;
}

nav ul li {
  padding: 20px;
}

nav ul li:not(.lg)::after {
  display: block;
  content: '';
  width: 0%;
  background-color: #ffffff;
  transition: 0.5s;
  height: 3px;
}

nav ul li:hover::after {
  width: 100%;
}

nav ul li.lg {
  border: 1px solid #f1ebf0;
  border-radius: 30px;
  padding: 5px 40px;
  margin-left: 30px;
}

nav ul li a {
  color: #393338;
  text-decoration: none;
  font-size: 17px;
}

main {
  display: flex;
  align-items: center;
  margin-top: 60px;
}

main .main__text {
  width: 70%;
}

main .main__text h1 {
  font-size: 4rem;
}

main .main__text h1 strong {
  display: block;
  font-weight: normal;
}

main .main__text h1 b {
  background-color: rgba(255, 255, 255, 0.89);
  color: rgb(26, 17, 39);
  padding: 0 5px;
  font-size: 5rem;
 
 
}

main .main__text p {
  color: #fceaff;
  margin: 20px 0 40px;
  width: 90%;
}

main .main__text button {
  background-color: rgb(255, 255, 255);
  color: rgb(20, 18, 34);
  border-radius: 30px;
  padding: 10px 50px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 17px;
  border: 1px solid transparent;
  transition: all 0.5s;
}

main .main__text button:hover {
  transform: scale(0.9);
}

main .main__img {
  width: 50%;
}

main .main__img img {
  width: 100%;
}

@media (max-width: 850px) {
  nav .menu-icon {
      display: block;
  }

  nav ul {
      position: fixed;
      top: 0;
      left: 0;
      background-color: #212036a8;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      width: 60%;
      transform: translateX(-100%);
      transition: 0.6s;
  }

  nav ul.activo {
      transform: translateX(0%);
  }

  nav ul li.lg {
      border: 1px solid rgb(0, 0, 0);
      margin-left: 0;
  }

  nav ul li:not(.lg)::after {
      background-color: white;
  }

  nav ul li a {
      color: white;
      font-size: 24px;
  }

  main{
      flex-direction: column;
      padding: 20px;
      text-align: center;
  }

  main .main__text{
      width: 100%;
      text-align: center;
      
  }

  main .main__img{
      margin-top: 70px;
      width: 100%;
      text-align: center;
  }
}

@media (max-width:500px) {
  main .main__text h1 b{
      font-size: 4rem;
      text-align: center;

  }
  main .main__text h1 strong{
      font-size: 3rem;
      text-align: center;
  }
}

@media (max-width:400px) {
  main .main__text h1 b{
      font-size: 3.5rem;
      text-align: center;
  }
  main .main__text h1 strong{
      font-size: 2rem;
      text-align: center;
  }
}